@model DiceShop.Entities.Dice

@{
    Layout = "/Views/Shared/_BasicLayout.cshtml";
}

<div class="col-sm-12">
    <form method="GET" action="@Url.Action("EditItemPost","Dice")">
        <div class="form-group">
            <label for="exampleInputEmail1">Id</label>
            <div>@Model.Id</div>
        </div>
        <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" name="Name" class="form-control" id="Name" placeholder="Dice Name" value="@Model.Name">
        </div>
        <div class="form-group">
            <label for="CreationYear">Creation Year</label>
            <input type="text" name="CreationYear" class="form-control" id="CreationYear" placeholder="Year Created" value="@Model.CreationYear">
        </div>
        <input type="hidden" name="Id" class="form-control" id="Id" value="@Model.Id">
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>

