<!DOCTYPE html>
<html lang="en">
<head>
    <title>@Page.Title - PW</title>
    <meta name="description" content="Personal website of Vyron Vasileiadis" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/Shared/css/style.css" />
</head>
<body>
    @RenderPage("~/Shared/_Header.cshtml")
    <main id="@PageData["page-id"]" class="page-content">
        @RenderBody()
    </main>
    @RenderPage("~/Shared/_Footer.cshtml")
</body>
</html>
