@model IEnumerable<Skroutz.Models.Inventory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoreId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Store.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { productId = item.ProductId, storeId = item.StoreId }) |
            @Html.ActionLink("Details", "Details", new { productId = item.ProductId, storeId = item.StoreId }) |
            @Html.ActionLink("Delete", "Delete", new { productId = item.ProductId, storeId = item.StoreId })
        </td>
    </tr>
}

</table>
