@model TodoApp.ViewModels.LoginViewModel

@{
    Layout = "~/Views/Shared/_Anonymous.cshtml";
    ViewBag.Title = "Login";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h1>login</h1>
        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
        </div>

        @if (ViewBag.EmailNotExists == true)
        {
            <p class="text-danger">No account with this email!</p>
        }
        @if (ViewBag.NotMatching == true)
        {
            <p class="text-danger">Email/Password don't match!</p>
        }
    </div>
}
@Html.ActionLink("Not registered?", "Register")
