@model IEnumerable<Skroutz.Models.AttributeValue>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttributeKeyId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AttributeKey.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { productId = item.ProductId, attributeKeyId = item.AttributeKeyId }) |
            @Html.ActionLink("Details", "Details", new { productId = item.ProductId, attributeKeyId = item.AttributeKeyId }) |
            @Html.ActionLink("Delete", "Delete", new { productId = item.ProductId, attributeKeyId = item.AttributeKeyId })
        </td>
    </tr>
}

</table>
